:root {
  
  --ifm-background-color: #ECEFF4;      
  --ifm-background-surface: #FFFFFF;
  --ifm-font-color-base: #2E3440;       
  --ifm-color-primary: #007190;         
  --ifm-color-primary-dark: #6FAEBD;
  --ifm-color-primary-darker: #5A98A6;
  --ifm-color-primary-darkest: #3F6E78;
  --ifm-color-primary-light: #9CD2DD;
  --ifm-color-primary-lighter: #B3E0E7;
  --ifm-color-primary-lightest: #D7F1F3;
  --ifm-color-emphasis-200: #C5CBCB;
  --ifm-color-emphasis-300: #BAC1C7;

  --docusaurus-highlighted-code-line-bg: rgba(136, 192, 208, 0.15);
}

[data-theme='dark'] {

  --ifm-background-color: #2e344041;      
  --ifm-background-surface: #3B4252;    
  --ifm-font-color-base: #ECEFF4;       
  --ifm-color-primary: #14616D;         
  --ifm-color-primary-light: #6EC2C3;
  --ifm-color-primary-lighter: #9AD9DB;
  --ifm-color-primary-lightest: #CFEFF0;
  --ifm-color-primary-dark: #2B7F80;
  --ifm-color-primary-darker: #1C5E60;
  --ifm-color-primary-darkest: #123D3E;
  --ifm-color-emphasis-200: #434C5E;     
  --ifm-color-emphasis-300: #4C566A;     

  --docusaurus-highlighted-code-line-bg: rgba(143, 188, 187, 0.10);
}

.footer__links {
  justify-content: center;
}

.footer__link-item,
.footer__title {
  text-align: center;
}

.footer__items,
.footer__link-item {
  align-items: center;   
}

.footer__item,
.footer__link-item {
  text-align: center;   
  width: 100%;         
}
